{% include 'base.html' %}

{% block extra_stylesheets %}
  <link href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <h3>Block {{ block_id }}</h3>
      <table id="genesis_block" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            {% for column_name in column_names %}
            <th>{{ column_name }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block extra_javascripts %}
  <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      var table = $('#genesis_block').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "/dt/genesis/database/{{ db_id }}/block/{{ block_id }}",
            "data": function(d) {
                d.show_raw_data = "{{ show_raw_data }}";
            }
        },
        "iDisplayLength": 100,
        "paging": false,
        "bInfo" : false,
        "columns": [
            {% for col_ind in range(0, columns_num) %}
            {
                "data": {{ col_ind }},
                "render": function ( data, type, row, meta ) {
                    return data;
                },
            },
            {% endfor %}
        ]
      });
    });
  </script>
{% endblock %}
