{% include 'base.html' %}

{% block extra_stylesheets %}
  <link href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <h3>Block {{ block_id }}</h3>
      <ul class="pager">
        {% if has_prev %}
        <li class="previous"><a href="{{ url_for('block_adv', block_id=prev_block_id, id=db_id) }}">Previous Block</a></li>
        {% else %}
        <li class="previous disabled"><a href="#">Previous Block</a></li>
        {% endif %}
        {% if has_next %}
        <li class="next"><a href="{{ url_for('block_adv', block_id=next_block_id, id=db_id) }}">Next Block</a></li>
        {% else %}
        <li class="next disabled"><a href="#">Next Block</a></li>
        {% endif %}
      </ul>
      <table id="genesis_block" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            {% for column_name in column_names %}
            <th>{{ column_name }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h3>Transactions by Block {{ block_id }}</h3>
      <table id="genesis_transactions_by_block" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            {% for column_name in t_column_names %}
            <th>{{ column_name }}</th>
            {% endfor %}
          </tr>
        </thead> <tbody></tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block extra_javascripts %}
  <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      var table = $('#genesis_block').DataTable({
        "processing": true,
        "serverSide": true,
        "scrollX": true,
        "ajax": {
            "url": "/dt/genesis/database/{{ db_id }}/block/{{ block_id }}",
            "data": function(d) {
                d.show_raw_data = "{{ show_raw_data }}";
            }
        },
        "iDisplayLength": 100,
        "paging": false,
        "bInfo" : false,
        "columns": [
            {% for col_ind in range(0, columns_num) %}
            {
                "data": {{ col_ind }},
                "render": function ( data, type, row, meta ) {
                    return data;
                },
            },
            {% endfor %}
        ]
      });
      var table2 = $('#genesis_transactions_by_block').DataTable({
        "order": [[ 0, "desc" ]],
        "processing": true,
        "serverSide": true,
        "scrollX": true,
        "ajax": "/dt/genesis/database/{{ db_id }}/transactions_by_block/{{ block_id }}",
        "columns": [
            {% for col_ind in range(0, t_columns_num) %}
            {
                "data": {{ col_ind }},
                "render": function ( data, type, row, meta ) {
                    return '<a href="/genesis/database/{{ db_id }}/transaction/' + row[{{ hash_col_ind }}] + '">' + data + '</a>';
                },
            },
            {% endfor %}
        ]
      });
    });
  </script>
{% endblock %}
