{% include 'base.html' %}

{% block extra_stylesheets %}
  <link href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <h3>Transactions Status by Block {{ block_id }}</h3>
      <table id="genesis_transactions_by_block" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            {% for column_name in column_names %}
            <th>{{ column_name }}</th>
            {% endfor %}
          </tr>
        </thead> <tbody></tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block extra_javascripts %}
  <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      var table = $('#genesis_transactions_by_block').DataTable({
        "order": [[ 0, "desc" ]],
        "processing": true,
        "serverSide": true,
        "ajax": "/dt/genesis/database/{{ db_id }}/transactions_by_block/{{ block_id }}",
        "columns": [
            {% for col_ind in range(0, columns_num) %}
            {
                "data": {{ col_ind }},
                "render": function ( data, type, row, meta ) {
                    return '<a href="/genesis/database/{{ db_id }}/transaction/' + row[{{ hash_col_ind }}] + '">' + data + '</a>';
                },
            },
            {% endfor %}
        ]
      });
    });
  </script>
{% endblock %}
