body{
	background-color: #fff;
	font-family: "Source Sans Pro", sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #515253;
	overflow-x: hidden;
}

.panel {
	background-color: #fff;
	margin-bottom: 21px;
	border-radius: 0px;
	border-color: #cfdbe2;
}

.panel > .panel-heading {
    border-radius: 0;
    margin: -1px -1px 0;
}

.panel .panel-heading {
    border-bottom: 0;
    font-size: 14px;
	color: white;
}

.panel > .panel-heading {
	background-color: #5d9cec;
	border-color: #cfdbe2;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #fafafa;
    border-top: 1px solid #eee;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.v-center{
    margin-top: 20vh;
}

.form-control {
	display: block;
    width: 100%;
    height: 35px;
    padding: 6px 16px;
    font-size: 14px;
    line-height: 1.52857;
    color: #3a3f51;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dde6e9;
	border-radius: 0px;
	box-shadow: none;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.form-control:focus {
	box-shadow: none;
}

.btn {
	border: 0;
	border-radius: 0;
	font-size: 14px;
	padding: 6px 20px;
}

.btn {
	border: 0;
	border-radius: 0;
	font-size: 14px;
	padding: 6px 20px;
}

.btn-primary {
	color: #fff;
	background-color: #5d9cec;
}

.table-responsive {
	border: 0;
    overflow-x: auto;
    min-height: 0.01%;
}

.table {
	width: 100%;
    max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}

.btn-primary:hover {
	color: #fff;
    background-color: #4b91ea;
	border-color: #3483e7;
}
